Defaults !requiretty
{{ item.username  }}  ALL=NOPASSWD: /usr/sbin/dmidecode, /sbin/dmidecode, /usr/sbin/lsof, /usr/sbin/fdisk -l, /sbin/fdisk -l, /sbin/dmsetup ls, /sbin/dmsetup table*, /usr/sbin/multipath -ll, /bin/ls, /bin/cat
