conn clear
        left={{openshift_aws_node_ip}}
        right=%group
        authby=never
        type=passthrough
        auto=route
        priority=100
conn private
        left={{openshift_aws_node_ip}}
        leftid=%fromcert
        # our certificate
        leftcert="NSS Certificate DB:{{openshift_aws_node_cn}}"
        right=%opportunisticgroup
        rightid=%fromcert
        # their certificate transmitted via IKE
        rightca=%same
        ikev2=insist
        authby=rsasig
        failureshunt=drop
        negotiationshunt=hold
        auto=ondemand


