# This file defines the set of CIDRs (network/mask-length) to which
# communication should always be in the clear. One IPv4 or IPv6 CIDR per line.
#
#<GATEWAY_IP>/32
#<BASTION_IP>/32
#<PRIV_ELB_SUBNET>/XX
#<PUB_ELB_SUBNET>/XX

# Master ELB Subnets

# VIP ELB Subnets

# Bastion

# Internet Gateway
