# This file defines the set of CIDRs (network/mask-length) to which
# communication should always be private (i.e. encrypted). One IPv4
# or IPv6 CIDR per line.
# In AWS with dual interfaces, these will generally be the admin subnets
#<NODE_SUBNET_ONE>/XX
#<NODE_SUBNET_TWO>/XX
#...
#<NODE_SUBNET_N>/XX


